In [1]:
import argparse
import os
import pandas as pd
from src.loader import load_dataset, data_loader

ModuleNotFoundError: No module named 'src.loader'

In [2]:
args = {
    "data_path": "/data/ephemeral/home/movie/zerovirus/data/train/",
    "preprocessing": argparse.Namespace(**{
        "ascending": False,
        "encoding": "multi-hot",
        "is_array": True,
        "tree2array": True,
        "negative_sampling": True,
    })
}
args = argparse.Namespace(**args)

In [3]:
merged_train_df = load_dataset(args)

Index(['user', 'item', 'time', 'title', 'year', 'Action', 'Adventure',
       'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance',
       'Sci-Fi', 'Thriller', 'War', 'Western', 'director'],
      dtype='object')

100%|██████████| 31360/31360 [00:29<00:00, 1061.33it/s]
/data/ephemeral/home/movie/zerovirus/movierec/src/preprocessing.py:240: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  raw_rating_df["review"].fillna(1, inplace=True)

In [4]:
tmp = merged_train_df.drop_duplicates(["user", "item", "time"], ignore_index=True)
tmp.head(20)

,user,item,time,title,year,Action,Adventure,Animation,Children,Comedy,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,director,review,num_reviews_item
0,11,4643,1.230783e+09,planet of the apes,2001,1,1,0,0,0,...,0,0,0,1,0,0,0,[47],1.0,1122
1,11,170,1.230783e+09,hackers,1995,1,1,0,0,0,...,0,0,0,0,1,0,0,[1111],1.0,1107
2,11,531,1.230783e+09,the secret garden,1993,0,0,0,1,0,...,0,0,0,0,0,0,0,[280],1.0,966
3,11,616,1.230783e+09,the aristocats,1970,0,0,1,1,0,...,0,0,0,0,0,0,0,[1016],1.0,1101
4,11,2140,1.230783e+09,the dark crystal,1982,0,1,0,0,0,...,0,0,0,0,0,0,0,"[84, 195]",1.0,3032
5,11,2722,1.230783e+09,deep blue sea,1999,1,0,0,0,0,...,0,0,0,1,1,0,0,[190],1.0,541
6,11,2313,1.230783e+09,the elephant man,1980,0,0,0,0,0,...,0,0,0,0,0,0,0,[31],1.0,2126
7,11,2688,1.230783e+09,the generals daughter,1999,0,0,0,0,0,...,0,1,0,0,1,0,0,[1212],1.0,512
8,11,2428,1.230783e+09,the faculty,1998,0,0,0,0,0,...,0,0,0,1,0,0,0,[234],1.0,602
9,11,3113,1.230783e+09,end of days,1999,1,0,0,0,0,...,0,1,0,0,1,0,0,[202],1.0,402
10,11,1591,1.230783e+09,spawn,1997,1,1,0,0,0,...,0,0,0,1,1,0,0,[-1],1.0,413
11,11,2600,1.230783e+09,existenz,1999,1,0,0,0,0,...,0,0,0,1,1,0,0,[53],1.0,1194
12,11,8169,1.230783e+09,batteries not included,1987,0,0,0,1,1,...,0,0,0,1,0,0,0,[1028],1.0,545
13,11,2572,1.230783e+09,10 things i hate about you,1999,0,0,0,0,1,...,0,0,1,0,0,0,0,[741],1.0,2757
14,11,58293,1.230783e+09,10000 bc,2008,0,1,0,0,0,...,0,0,1,0,1,0,0,[58],1.0,384
15,11,7541,1.230783e+09,100 girls,2000,0,0,0,0,1,...,0,0,1,0,0,0,0,[533],1.0,129
16,11,1367,1.230783e+09,101 dalmatians,1996,0,1,0,1,1,...,0,0,0,0,0,0,0,[672],1.0,1019
17,11,32,1.230783e+09,twelve monkeys,1995,0,0,0,0,0,...,0,1,0,1,1,0,0,[63],1.0,11477
18,11,4792,1.230783e+09,13 ghosts,1960,0,0,0,0,0,...,0,0,0,0,0,0,0,[469],1.0,154
19,11,7444,1.230783e+09,13 going on 30,2004,0,0,0,0,1,...,0,0,1,0,0,0,0,[1221],1.0,900

In [5]:
tmp.columns

Index(['user', 'item', 'time', 'title', 'year', 'Action', 'Adventure',
       'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance',
       'Sci-Fi', 'Thriller', 'War', 'Western', 'director', 'review',
       'num_reviews_item'],
      dtype='object')

In [7]:
tmp

,user,item,time,title,year,Action,Adventure,Animation,Children,Comedy,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,director,review,num_reviews_item
0,11,4643,1.230783e+09,planet of the apes,2001,1,1,0,0,0,...,0,0,0,1,0,0,0,[47],1.0,1122
1,11,170,1.230783e+09,hackers,1995,1,1,0,0,0,...,0,0,0,0,1,0,0,[1111],1.0,1107
2,11,531,1.230783e+09,the secret garden,1993,0,0,0,1,0,...,0,0,0,0,0,0,0,[280],1.0,966
3,11,616,1.230783e+09,the aristocats,1970,0,0,1,1,0,...,0,0,0,0,0,0,0,[1016],1.0,1101
4,11,2140,1.230783e+09,the dark crystal,1982,0,1,0,0,0,...,0,0,0,0,0,0,0,"[84, 195]",1.0,3032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5311266,138493,542,NaN,son in law,1993,0,0,0,0,1,...,0,0,1,0,0,0,0,[1005],0.0,161
5311267,138493,2932,NaN,days of heaven,1978,0,0,0,0,0,...,0,0,0,0,0,0,0,[79],0.0,405
5311268,138493,2300,NaN,the producers,1968,0,0,0,0,1,...,0,0,0,0,0,0,0,[46],0.0,1445
5311269,138493,26476,NaN,merry christmas mr lawrence,1983,0,0,0,0,0,...,0,0,0,0,0,1,0,[965],0.0,132
5311270,138493,7749,NaN,weekend,1967,0,0,0,0,0,...,0,0,0,0,0,0,0,[64],0.0,124

In [6]:
tmp[tmp["item"] == 11]

,user,item,time,title,year,genre,director,review,num_reviews_item
1229,58,11,1.144059e+09,the american president,1995,"[5, 1, 6]",[232],1.0,4431
2240,91,11,1.121674e+09,the american president,1995,"[5, 1, 6]",[232],1.0,4431
3867,135,11,1.154687e+09,the american president,1995,"[5, 1, 6]",[232],1.0,4431
14226,421,11,1.204854e+09,the american president,1995,"[5, 1, 6]",[232],1.0,4431
17117,486,11,1.245694e+09,the american president,1995,"[5, 1, 6]",[232],1.0,4431
...,...,...,...,...,...,...,...,...,...
5269173,100596,11,NaN,the american president,1995,"[5, 1, 6]",[232],0.0,4431
5270545,101768,11,NaN,the american president,1995,"[5, 1, 6]",[232],0.0,4431
5282866,112922,11,NaN,the american president,1995,"[5, 1, 6]",[232],0.0,4431
5283618,113610,11,NaN,the american president,1995,"[5, 1, 6]",[232],0.0,4431
5292151,121169,11,NaN,the american president,1995,"[5, 1, 6]",[232],0.0,4431

In [ ]:
train_ratings = pd.read_csv(os.path.join(args.data_path, "train_ratings.csv"))
print(train_ratings.shape)
train_ratings.drop_duplicates(["user", "item", "time"])
print(train_ratings.shape)

(5154471, 3)
(5154471, 3)

In [ ]:
a = pd.DataFrame({"1": [1, 1, 2, 2, 3], "2": [5, 7, 2, 10, 3], "3": [1, 2, 3, 4, 5]})
a.apply

   1   2  3
0  1   5  1
1  1   7  2
2  2   2  3
3  2  10  4
4  3   3  5

/tmp/ipykernel_768006/2698026910.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  b = a.groupby("1").apply(lambda x: list(x.nlargest(3, "2")["3"]))

1
1    [2, 1]
2    [4, 3]
3       [5]
dtype: object