In [1]:
import argparse
import os
import torch
import pandas as pd
from src.loader import load_dataset, data_loader

In [2]:
args = {
    "data_path": "/data/ephemeral/home/movie/zerovirus/data/train/",
    "preprocessing": argparse.Namespace(**{
        "ascending": False,
        "encoding": "label",
        "is_array": False,
        "tree2array": False,
        "negative_sampling": True,
    })
}
args = argparse.Namespace(**args)

In [3]:
merged_train_df = load_dataset(args)

100%|██████████| 31360/31360 [00:27<00:00, 1156.43it/s]

In [4]:
merged_train_df

,user,item,time,title,year,genre,director,review,num_reviews_item
0,11,4643,1.230783e+09,planet of the apes,2001,2,47.0,1,4488
1,11,4643,1.230783e+09,planet of the apes,2001,8,47.0,1,4488
2,11,4643,1.230783e+09,planet of the apes,2001,1,47.0,1,4488
3,11,4643,1.230783e+09,planet of the apes,2001,3,47.0,1,4488
4,11,170,1.230783e+09,hackers,1995,2,1111.0,1,4428
...,...,...,...,...,...,...,...,...,...
16293108,138493,4121,0.000000e+00,innerspace,1987,2,163.0,0,1848
16293109,138493,8426,0.000000e+00,robot carnival,1987,12,765.0,0,705
16293110,138493,7024,0.000000e+00,salo or the 120 days of sodom,1976,1,227.0,0,154
16293111,138493,25766,0.000000e+00,the crowd,1928,1,1179.0,0,61
16293112,138493,102033,0.000000e+00,pain gain,2013,2,129.0,0,294

In [5]:
loader = data_loader(merged_train_df, ["user", "item", "genre", "director"], 256)

In [6]:
for i, (x, y) in enumerate(loader):
    if i > 0: break
    print(x.shape, y.shape)
    
    print(x)

torch.Size([256, 7]) torch.Size([256])
tensor([[1.2769e+09, 2.0030e+03, 1.0000e+00,  ..., 6.9721e+04, 3.7725e+04,
         3.8169e+04],
        [1.1523e+09, 1.9850e+03, 1.0000e+00,  ..., 9.7192e+04, 3.3767e+04,
         3.8171e+04],
        [1.3767e+09, 2.0040e+03, 1.0000e+00,  ..., 6.4572e+04, 4.0158e+04,
         3.8166e+04],
        ...,
        [1.1754e+09, 1.9940e+03, 1.0000e+00,  ..., 9.3595e+04, 3.5332e+04,
         3.8171e+04],
        [1.1971e+09, 1.9930e+03, 1.0000e+00,  ..., 1.3534e+05, 3.1887e+04,
         3.8167e+04],
        [1.4224e+09, 1.9800e+03, 1.0000e+00,  ..., 1.0533e+05, 3.3334e+04,
         3.8176e+04]])

In [7]:
merged_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16293113 entries, 0 to 16293112
Data columns (total 9 columns):
 #   Column            Dtype
---  ------            -----
 0   user              int64
 1   item              int64
 2   time              float64
 3   title             object
 4   year              int64
 5   genre             int64
 6   director          float64
 7   review            int64
 8   num_reviews_item  int64
dtypes: float64(2), int64(6), object(1)
memory usage: 1.1+ GB

In [8]:
merged_train_df

,user,item,time,title,year,genre,director,review,num_reviews_item
0,11,4643,1.230783e+09,planet of the apes,2001,2,47.0,1,4488
1,11,4643,1.230783e+09,planet of the apes,2001,8,47.0,1,4488
2,11,4643,1.230783e+09,planet of the apes,2001,1,47.0,1,4488
3,11,4643,1.230783e+09,planet of the apes,2001,3,47.0,1,4488
4,11,170,1.230783e+09,hackers,1995,2,1111.0,1,4428
...,...,...,...,...,...,...,...,...,...
16293108,138493,4121,0.000000e+00,innerspace,1987,2,163.0,0,1848
16293109,138493,8426,0.000000e+00,robot carnival,1987,12,765.0,0,705
16293110,138493,7024,0.000000e+00,salo or the 120 days of sodom,1976,1,227.0,0,154
16293111,138493,25766,0.000000e+00,the crowd,1928,1,1179.0,0,61
16293112,138493,102033,0.000000e+00,pain gain,2013,2,129.0,0,294

In [9]:
tfidf_matrix

NameError: name 'tfidf_matrix' is not defined

In [ ]:
tmp[tmp["item"] == 11]

In [ ]:
train_ratings = pd.read_csv(os.path.join(args.data_path, "train_ratings.csv"))
print(train_ratings.shape)
train_ratings.drop_duplicates(["user", "item", "time"])
print(train_ratings.shape)